
<div class="container" style="margin-top:50px;">
    <div style="width:100%;">
        <div style="margin:10px 0px;">
            <div class="ContentBlock">
                <h1 style="margin:0px;font-size:20px;font-weight:600;text-align:center;">Europe and the Middle East</h1>
            </div>
        </div>
    </div>
    <div class="contact_style_section" style="box-shadow:2px 8px 18px -8px rgba(0, 0, 0, 0.1), 1px 4px 4px rgba(0, 0, 0, 0.03), -1px -1px 4px rgba(0, 0, 0, 0.03);background-color:#f2f2f2;padding:20px 0;">
        <div class="row" style="margin-top:30px;">
            <div class="col-md-4">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;">France</span></h1>
                    <p style="text-align:center;"><strong>Positics<br /></strong>5 Rue DU CHANT DES OISEAUX<br />78360 Montesson<br /><br />Contact: Mr. St&eacute;phane Loeul<br />Tel: +33 1 30 15 78 72<br />Mobile + 33 6 95 49 14 27<br />Email: <a href="mailto:stephane.loeul@positics.fr">stephane.loeul@positics.fr</a><br
                        />Website: <a href="http://www.positics.fr" target="_blank">http://www.positics.fr</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;">Sweden</span></h1>
                    <p style="text-align:center;"><strong><strong>CA Clase</strong><br /></strong>Kontrabasgatan 11<br />S-421 5o V&auml;stra Fr&ouml;lunda<br />&nbsp;<br />Contact: Mr. Anders Havner<br />Tel: +46 31 647205<br />Mobile: +46 733 647274<br />Email:&nbsp;<span><a href="mailto:anders.havner@caclase.se">anders.havner@caclase.se</a></span><br
                        />Website:&nbsp;<a href="http://www.caclase.se " target="_blank"></a><a href="http://www.caclase.se/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.caclase.se&source=gmail&ust=1537540393876000&usg=AFQjCNHCI9KydKmlBt1D797ycEcKKRFlrg">http://www.caclase.se</a>&nbsp;</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;">Poland</span></h1>
                    <p style="text-align:center;"><strong>GPS.PL<br /></strong>Truszkowskiego 30D/2<br />31-352 Krak&oacute;w<br /><br />Contact: Mr. Eryk Lipinski<br />Tel: +48 12 637 71 49<br />Email: <a href="mailto:eryk@gps.pl">eryk@gps.pl</a><br />Website: <a href="http://www.gps.pl"
                            target="_blank">http://www.gps.pl</a></p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-3">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;"><br />Israel</span></h1>
                    <p style="text-align:center;"><strong><strong>Karil International</strong><br /></strong>6 Maskit St.<br />Herzliya Pituach 461 4002<br /><br />Contact: Mr. Ran Ofer, GM<br />Tel: +972 9 956 8212<br />Fax: +972 9 956 8141<br />Email: <a href="mailto:ran@mistralgroup.com">ran@mistralgroup.com</a><br
                        />Website: <a href="http://www.karil.com" target="_blank">http://www.karil.com</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;"><br />Turkey</span></h1>
                    <p style="text-align:center;"><strong>Lopel Technology Ltd.<br /></strong>06680 Cankaya Ankara<br /><br />Contact: Mr. Alain Solagan<br />Tel: +90 312 468 8588<br />Mobile: +90 532 445 4152<br />Fax: +90 312 468 5048<br />Email: <a href="mailto:solagan@lopeltek.com">solagan@lopeltek.com</a><br
                        />Website: <a href="http://www.lopeltek.com" target="_blank">http://www.lopeltek.com</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;"><br />Spain</span></h1>
                    <p style="text-align:center;"><strong>Grafinta Sociedad Anonima<br /></strong> Avenida de Filipinas, n&ordm; 46. 1<br />28003 Madrid<br /><br />Contact: Ms. Susana Mier<br />Tel: +34 91 553 72 07<br />Email: <a href="mailto:susana@grafinta.com">susana@grafinta.com</a><br
                        />Website: <a href="http://www.grafinta.com" target="_blank">http://www.grafinta.com</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;">Germany<br />Austria<br />Switzerland</span></h1>
                    <p style="text-align:center;"><strong>GAINtech GmbH<br /></strong> Vogesenstrasse. 1<br />79291 Merdingen<br /><br />Contact: Mr. Eckhard Gerland<br />Tel: +49 7668 996 0141<br />Mobile + 49 1511 171 0040<br />Email: <a href="mailto:technik@gaintech.de">technik@gaintech.de</a><br
                        />Website: <a href="http://www.gaintech.de" target="_blank">http://www.gaintech.de</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin:50px auto;">
    <div style="width:100%;">
        <div style="margin:10px 0px;">
            <div class="ContentBlock">
                <h1 style="margin:0px;font-size:20px;font-weight:600;text-align:center;">Asia</h1>
            </div>
        </div>
    </div>
    <div class="contact_style_section" style="box-shadow:2px 8px 18px -8px rgba(0, 0, 0, 0.1), 1px 4px 4px rgba(0, 0, 0, 0.03), -1px -1px 4px rgba(0, 0, 0, 0.03);background-color:#f2f2f2;padding:20px 0;">
        <div class="row" style="margin-top:30px;">
            <div class="col-md-4">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;">Japan</span></h1>
                    <p style="text-align:center;"><strong>Union Co., Ltd.<br /></strong>4-9-8-2F Minamikarasuyma, Setagaya-ku<br />Tokyo, 157-0062<br />Japan<br /><br />Contact: Mr. Shinji Takeuchi<br />Tel: +81 3 5313 0987<br />Mobile: +81 909 804 0457<br />Fax: +81 3 5313 0988<br
                        />Email: ユニオン法人営業 <a href="mailto:sales@unioncoltd.com" target="_blank">sales@unioncoltd.com</a><br />Website:&nbsp;<a href="https://www.unioncoltd.com" rel="noreferrer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.unioncoltd.com/&source=gmail&ust=1537626472614000&usg=AFQjCNGabSiNx9JjOWZu-0pSo0YUZT3tmg">https://www.unioncoltd.com</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;">Korea</span></h1>
                    <p style="text-align:center;"><strong>HI International<br /></strong>607Ho 101Dong 10 53beon-gil<br />Seoggab-ro, Jinju-si<br />Korea 52700<br /><br />Contact: Mr. Chul-Hwa Jung<br />Tel: +82 10 5161 1325<br />Fax: +82 506 200 1670<br />Email: <a href="mailto:hii@hiintl.kr">hii@hiintl.kr</a><br
                        />Website: <a href="http://www.hiintl.kr " target="_blank">http://www.hiintl.kr</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ContentBlock">
                    <h1 style="margin-top:0;font-size:18px;font-weight:600;text-align:center;"><span style="color:#953734;">Singapore</span></h1>
                    <p style="text-align:center;"><strong>Precision Technologies Pte. Ltd.<br /></strong>211 Henderson Road #13-02&nbsp;<br />Henderson Industrial Park<br />Singapore 159552<br /><br />Contact : Mr. Y. W. Leong<br />Tel: +65 6273 4573 Ext. 121<br />Fax: +65- 6273 8898<br
                        />Email: <a href="mailto:ywleong@pretech.com.sg">ywleong@pretech.com.sg</a><br />Website: <a href="http://www.pretech.com.sg" target="_blank">http://www.pretech.com.sg</a></p>
                </div>
            </div>
        </div>
    </div>
</div>